*{	
			margin: 0px;
			padding: 0px;
			font-family: 微软雅黑;		
		}
			.head{
				
				width: 92%;
				height: 47px;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
				align-items: center;
				background-color: white;
			}
			.head>.left{
				width: 114px;
			}
			.head .left .h-l-img{
				width: 100%;
				height: 23px;
			}
			.right>.search{
				color: gray;
			}
			.item-list{
				display: flex;
				flex-wrap: wrap;
				padding-bottom: 10px;
				justify-content: center;
			}
			.item-list>.item{
				width: 24%;
				display: flex;
				margin-top: 10px;
				flex-direction: column;
				justify-content: center;
				align-items: center;
					
			}
			.item-list>.item>.i-img-box{
				width: 36px;
				height: 36px;
			}
			.i-img-box>.i-img{
				width: 100%;
				height: auto;
			}
			.i-text{
				margin-top: 4px;
				text-align: center;
				font-size: 14px;	
			}
			.line{
				width: 100%;
				height: 12px;
				background-color: #f2f4f7;
			}
			.block-box{
				width: 100%;
				padding: 20px 0px;
				padding-top: 0px;
				padding-bottom: 0px;
			}
			.block-box>.g-title{
				height: 50px;
				line-height: 50px;
				font-size: 19px;
				padding-left: 15px;
			}
			.goods-list{
				display: flex;
				flex-wrap: wrap;
				padding: 0px 2%;
			}
			.g-item{
				display: inline-block;
				width: 46%;
				height:200px;
				margin-right: 5%;
				margin-bottom: 16px;
				height: 160px;
				box-sizing: border-box;
				box-shadow: 0 0  2px #f9f5ee;
			}
			.goods-list>.g-item:nth-child(2n){
				margin-right: 0px !important;
			}
			.g-i-box{
				width: 100%;
			}
			.g-i-box>img{
				width: 178px;
				height: 100%;
				border-top-left-radius:4px;
				border-top-right-radius:4px;
			}
			.g-text{
				padding: 6px 4px;
				font-size: 16px;
			}
			.g-text>span{
				display: block;
				font-size: 13px;
				margin-top: 4px;
				color:#b5b5b5;
			}
			.tab-footer{
				width: 100%;
				height: 60px;
				display: flex;
				align-items: center;
				position: fixed;
				bottom: 0;
				left: 0;
				border-top: 1px solid #eee;
				
				background-color: white;
			}
			.tab-footer>.tab{
				width: 33%;
				display: flex;
				text-decoration: none;
				flex-direction: column;
				
			}
			.tab>.text{
				margin-top: 4px;
				text-align: center;
				font-size: 14px;
				color: #3c4a55;
			}
			.icontab{
				text-align: center;
				font-size: 24px;
			}
			.tabs-line{
				display: flex;
				justify-content: space-around;
				
			}

			        #title {
			            overflow: hidden;
			            list-style: none;
			        }
			 
			        #title>li {
			            height: 50px;
			            text-align: center;
			            color: #333;
			            line-height: 50px;
			        }
			 
			        #content {
			            margin: auto;
			            list-style: none;
			        }
			 
			        #content>li {
			            text-align: center;
			            font-weight: bold;
			        }
			 
			        #content>li:nth-child(2) {
			            display: none;
			        }
			 
			        #content>li:last-child {
			            display: none;
			        }
					.item-box{
						display: flex;
						padding: 0px 16px;
						margin-bottom: 10px;
						border-bottom: 1px solid #F3F3F3;
					}
					.l-img{
						width: 120px;
						height: 67px;
						border-radius: 5px;
						padding-top:10px;
					}
					.right-text{
						margin-left: 12px;
						font-size: 14px;
						color: #333;
					}
					.right-text>.title{
						margin-top: 10px;
						text-align: left;
						font-size: 15px;
						font-weight: normal;
					}
					.right-text>.detail{
						font-size: 10px;
						color: #999999;
						font-weight: normal;
						margin: 10px 0px;
					}
					.right-text>.hh{
						margin: 10px 0px;
						font-weight: normal;
						background-color: #f4f4f4;
                        width: 70px;
						font-size: 8px;
						border-radius: 30px;
						color: #999999;
					}
					.youhui-box{
						width: 100%;
						padding: 0px 4%;
						box-sizing: border-box;
					}
					.y-title{
						height: 40px;
						line-height: 40px;
						font-size: 19px;
						padding-bottom: 12px;
					}
					.y-block-box>.block{
						display: inline-block;
						width: 100%;
						height: 105px;
						text-align: center;
						color: white;
						border-radius: 6px;
						margin-bottom: 10px;
						display: flex;
						align-items: center;
						justify-content: center;
                        flex-direction: column;
					}
					.orange{
						background-color: #ffc103;
					}
					.blue{
						background-color: #5eaaf8;
					}
					.green{
						background-color: #2fdd97;
					}
					.fz{
						font-size: 17px;
					}
					.jianjie{
						font-size: 14px;
					}
					.p{
						font-size: 10px;
						text-align: center;
						color: #6b6b6b;
					}
					.pic img{
                        width: 365px;
						padding-left: 20px;
						object-fit: cover;
					}
					.button{
						width:350px;
						height: 45px;
						display: flex;
						justify-content: center;
						align-items: center;
						margin: 0 auto;
						margin-top: 15px;
						background-color: #2bd452;
						border-radius: 15px;
						letter-spacing: 1px;
					}
					.button .zixun{
						font-size:14px;
						color: #e4ffdb;
					}
					.button .icon_button {
						width: 1em;
						height: 1em;
						vertical-align: -0.15em;
						padding-left: 15px;
						overflow: hidden;
						color: #f00;
						padding-right: 2px;
					  }
